* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--first-color);
}
section {
  margin-top: 2em;
}
.about__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em 1em;
  text-align: center;
}
.about__column {
  width: 20%;
  padding: 0.5em 0;
  margin-bottom: 2em;
}
h1 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #1f003b;
}
.about__card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.about__card .img-container {
  width: 8em;
  height: 8em;
  background-color: var(--first-color-dark);
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.about__card img {
  width: 100%;
  border-radius: 50%;
}
.about__card h3 {
  font-weight: 500;
}
.about__card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.about__card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.about__card:hover {
  background: linear-gradient(#6045ea, #8567f7);
  color: #ffffff;
}
.about__card:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .about__card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}
.about__title {
  color: var(--white-color);
}