.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.myStyle {
    position: relative;
    background-color: #9AF9FF;
    height: 100vh;
    font-size: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    /* justify-content: center;
    align-items: center; */
}

.mainBox {
    position: absolute;
    top: 250px;
    left: 235px;
    width: 75%;
    height: 50%;
    border-radius: 25px;
    margin: -50px 0 0 -50px;
    background-color: rgb(100, 205, 207);
    background-position: center;
}

.spanTextAndBox {
    font-family: sans-serif, Arial, sans-serif;
}

.waterStatementDiv {
    top: 10px;
    left: 10px;
}


.waterButton {
    position: absolute;
    top: 60%;
    left: 35%;
    height: 50px;
    width: 300px;

}