/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #60a5fa;
  --first-color-dark: #2563eb;
  --first-color-darken: #1d4ed8;
  --first-color-darkest: #1e40af;
  --white-color: #fcf8f8;

  /*===== Font and typography =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;

  /*===== 404 =====*/
  --error-font-size: 2.375rem;
  --text-color: hsl(38, 8%, 8%);
  --error-color: #f2df3a;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}
